<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Current US Senators</title>
    <link rel="stylesheet" href="form-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
  </head>
  <body>
    <div class="navigation">
      <a class="contact-button" href="/">U.S. Senators</a>
    </div>
    <div class="wrapper">
      <form action="/add_senator" method="post">
        <div class="header">
          <span class="title">Add a Senator</span>
        </div>
        <div class="fields" id="fields">
          <input type="text" placeholder="Senator's Name" name="name">
          <input type="text" placeholder="Home State" name="state">
          <select name="gender">
            <option value="female">Female</option>
            <option value="male">Male</option>
          </select>
          <select name="party">
            <option value="Democrat">Democrat</option>
            <option value="Independent">Independent</option>
            <option value="Republican">Republican</option>
          </select>
          <input type="date" name="birthdate" value="1960-01-01">
        </div>
        <div class="footer">
          <button>Save Senator</button>
        </div>
      </form>
    </div>
  </body>
</html>